<h3>Press cmd + shift to start</h3>
<h4>Press cmd + shift to stop</h4>
<nested-component></nested-component>
<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
<ng-keyboard-shortcuts-help [key]="'f1'" [closeKey]="'escape'" [title]="'Help'"></ng-keyboard-shortcuts-help>
<!--<div class="text-center">
    <button class="btn btn-info btn-fill btn-wd" [shortcuts]="shortcuts2" name="btnActivateSpeechSearchMovie" id="btnActivateSpeechSearchMovie" (click)="activateSpeechSearchMovie2()"
             [disabled]="!showSearchButton2">
         Enable Speech Search
     </button>
</div>-->
<ng-keyboard-shortcuts [shortcuts]="shortcuts2"></ng-keyboard-shortcuts>
<!-- <textarea type="text" class="form-control border-input" name="txtSpeechSearchMovieName" id="txtSpeechSearchMovieName" value=""
                    placeholder="Click below button and then say something!!!" [(ngModel)]="temp" spellcheck="true"></textarea>-->
 <br>
 <br>
 <textarea type="text" [(ngModel)]="msg"></textarea>
 <button (click)="upper(msg)">upper</button>

<h3>Summernote editor</h3>

<div>
  <button (click)="enableEditor()" [disabled]="!editorDisabled">Enable</button>
  <button (click)="disableEditor()" [disabled]="editorDisabled">Disable</button>
</div>
<form [formGroup]="form">
  <input class="input" formControlName="text" 
       [ngxSummernote]="config"
       (blur)="onBlur()"
       (mediaDelete)="onDelete($event)"
       [(ngModel)]="msg">
</form>